@charset "UTF-8";
html, body {
    margin:0; 
    padding:0;
}
html { scroll-behavior: smooth; }
*{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #6B6868 ;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: ivory;
}
a:hover {
    text-decoration: none;
    color: #CFA7EE;
}

main{
    display:flex;
    width: 100%;
}

article{
    position: relative;
    width: 50vw;
    padding: 50px;
    overflow-y:scroll;
    max-height:100vh;
    scrollbar-color: #5FE3C4 #6B6868;
    scrollbar-width: thin;
}
article::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
article::-webkit-scrollbar-track {
    background: #6B6868;
}
  
/* Handle */
article::-webkit-scrollbar-thumb {
    background: #5FE3C4;
}
.mask{
    opacity: 0.1 !important;
    transition: 1.2s;
}
.active{
    opacity: 1 !important;
    transition: 0.3s;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin:0;
    padding: 0;
    line-height: 100%;
}

h1{
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 4vw;
}

h2{
    font-family: 'Roboto-Light', sans-serif;
    font-size: 4vw;
    color: #6B6868;
}
h3{
    font-family: 'Roboto-Black', sans-serif;
    color: #6B6868;
}

.lightTxt{
    font-family: 'Roboto-Thin', sans-serif;
    letter-spacing: 0.2em
}
.blackTxt{
    font-family: 'Roboto-Black', sans-serif;
    letter-spacing: 3px;
}
.lightItalicTxt{
    font-family: 'Roboto-LightItalic', sans-serif;
    letter-spacing: 3px;
}

hr.barMauve {
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, #CFA7EE, #CFA7EE00, #CFA7EE00 )
}
hr.barGreen {
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, #5FE3C4, #5FE3C400, #5FE3C400 )
}
hr.barPink {
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, #EB6DA9, #EB6DA900, #EB6DA900 )
}
hr.barBlue {
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, #0046CD, #0046CD00, #0046CD00 )
}

/* A */
#A{ 
    color:white;
    display: flex;
}
#Aplus{
    display:none;
    width: 100%;
    height: 75px;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.5046219171262255) 50%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.5046219171262255) 50%, rgba(0,0,0,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0.5046219171262255) 50%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);   
    color: white;
    cursor: row-resize;
    z-index:100;
    text-align: right;
    padding:40px;
}

#presentation {
    padding-left:30px;
    max-width: 600px;
}
#skills{
    /* padding: 25px; */
}


#skills img {
    min-width: 60px;
    max-width: 120px;
    max-height: 60px;
    padding: 3px;
    vertical-align: middle;
    
    border-radius: 4px;
    background-color:grey;
    margin:0px 15px 25px 0px;
    cursor: help;
    
}
#skills img:hover { background-color: rgb(204, 204, 204);}

#btCv{
    position: relative;
    min-width: 150px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    padding: 0;
    border: 2px white solid;
    border-radius: 0;
}
#btCv img {width: 100%;}

/* B */
#B{
    background-color: white;
    min-height: 100vh;
}

#B a:link, #B a:visited, #B a:active{
    text-decoration: none;
    color: #EB6DA9;
}
#B a:hover {
    text-decoration: none;
    color: #CFA7EE;
}

#gallery{
    margin-top: 50px;
}

.project{
    position:relative;
    display: flex;
    flex-direction: row;
    cursor:pointer;
    width: 100%;
    margin: 35px 0px;
}
.column{
    flex-direction: column;
}

.visu{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 1024px;
    transition: 0.3s;
}
.thumb{ 
    min-width: 150px;
    width:12vw;
 }
.visu img {
    width: 100%;
    min-width: 150px;
    box-shadow: 4px 4px 4px grey;
}
.titleProj{ 
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 24px;
    padding: 25px;
}
.txtProj { 
    display:none;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 24px;
    border-bottom: 1px solid #0046CD;
    padding: 0px 25px 25px 25px;
    max-width: 450px;
    color:black;
}
.visible {
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    body{ overflow: visible;}
    main{
        display:flex;
        flex-direction: column;
    }
    article{
        width: auto;
        padding: 20px;
        overflow: initial;
        max-height:none;
    }
    .mask{
        opacity:unset !important;
       
    }
    .active{
        opacity:unset !important;
       
    }

    h1{
        font-size: 36px;
    }

    h2{
        font-size: 24px;
    }
    
    #presentation{ padding:0 !important;}
    #Aplus{ display:block; }
    .wrap{
        max-height:50vw;
        height: 0%;
        transition: 0.8s;
     }
     .full {
         max-height:200vh;
         height:100%;
     }


    /* B */
    .titleProj{ 
        word-break: break-all;
        font-size: 18px;
     }
}